{{#if (gte details.results.length block.userOptions.limit)}}
  <div class="p-footnote mb-1">Showing first {{details.results.length}} results</div>
{{else}}
  <div class="p-footnote mb-1">Showing {{details.results.length}} results</div>
{{/if}}

<div class="scrollable-container">
  {{#each details.results as |item|}}
    <div class="mb-2">
      {{#if block.entity.isIP}}
        <div class="p-title">{{fa-icon icon="globe" fixedWidth=true}} {{item.rrname}}</div>
      {{/if}}
      {{#if item.rrtype}}
        <div>
          <span class="p-key">Type:</span>
          <span class="p-value">{{item.rrtype}}</span>
        </div>
      {{/if}}
      {{#if item.count}}
        <div>
          <span class="p-key">Count:</span>
          <span class="p-value">{{item.count}}</span>
        </div>
      {{/if}}
      {{#if item.bailiwick}}
        <div>
          <span class="p-key">Bailiwick:</span>
          <span class="p-value">{{item.bailiwick}}</span>
        </div>
      {{/if}}
      {{#if item.time_first}}
        <div>
          <span class="p-key">First Seen:</span>
          <span class="p-value">{{moment-time item.time_first}}</span>
        </div>
      {{/if}}
      {{#if item.time_last}}
        <div>
          <span class="p-key">Last Seen:</span>
          <span class="p-value">{{moment-time item.time_last}}</span>
        </div>
      {{/if}}
      {{#if item.zone_time_first}}
        <div>
          <span class="p-key">Zone First Seen:</span>
          <span class="p-value">{{moment-time item.zone_time_first}}</span>
        </div>
      {{/if}}
      {{#if item.zone_time_last}}
        <div>
          <span class="p-key">Zone Last Seen:</span>
          <span class="p-value">{{moment-time item.zone_time_last}}</span>
        </div>
      {{/if}}
      {{!-- data are IP addresses associated with the domain --}}
      {{#if block.entity.isDomain}}
        {{#if item.rdata.length}}
          <div class="mt-1">
          {{#each item.rdata as | data |}}
            <span class="data-item">{{data}}</span>
          {{/each}}
          </div>
        {{/if}}
      {{/if}}
    </div>
  {{/each}}
</div>